/* AlphabetCard.css */
.alphabet-card {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease;
    width: 130px; /* Makes the card 75px wide */
    height: 130px; /* Makes the card 75px high */
    margin: 10px;

    background: linear-gradient(45deg, #ffff, #fff);
}

.alphabet-card:hover {
    transition: transform 0.3s ease;
    transform: scale(1.03);

    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.9); /* Deeper shadow on hover */
    background: linear-gradient(
        to right,
        #00c9ff,
        #92fe9d
    ); /* Sunset gradient */
}

.alphabet-card:active {
    transition: transform 0.3s ease;
    /* background: linear-gradient(45deg, #1342, #234); */
    transform: scale(1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9); /* Deeper shadow on hover */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* This is the swing animation */
@keyframes swings {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(
            15deg
        ); /* Increased the angle for a more pronounced swing */
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(
            -15deg
        ); /* Increased the angle for a more pronounced swing */
    }
    100% {
        transform: rotate(0deg);
    }
}

.card-image:hover {
    animation: swings 1s ease-in;
}
