.alphabet-grid {
    /* display: flex; */
    flex-wrap: wrap; /* Ensures items wrap to the next line when they exceed the width */
    gap: 10px; /* Space between the cards */
    padding: 200px; /* Adjusted padding */
    justify-content: center; /* Centers the items horizontally */
}

.alphabet-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-title {
    color: #000;
}
